body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
    animation: fadeIn 1s ease-in;
}

.champions {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.champion {
    background-color: white;
    border: 2px solid #007BFF;
    border-radius: 10px;
    width: 300px;
    margin: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    animation: slideIn 0.5s ease;
}

.champion:hover {
    transform: scale(1.05);
}

.champion-image {
    width: 100%;
    border-radius: 10px;
    transition: transform 0.3s;
}

.champion-image:hover {
    transform: scale(1.1);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
#navbar {
    background-color: #007BFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

#navbar ul {
    display: flex;
    list-style: none;
}
#navbar .logo {
    margin: 0 12px;
    font-size: larger;
    font-weight: bold;
}


#navbar ul li a {
    text-decoration: none;
    margin: 0 4px;
    padding:  12px;
    text-decoration: none;
    border-radius: 5px;
    text-transform: capitalize;
    color: black;
}
#navbar ul li a:hover {
    background-color: #514942;
    color:white;
}